{% extends "myApp/layout.html" %} {% block body %}
<div class="container">
  {% if post %}
  <div class="card border p-2 mt-5 rounded">
    <h2 class="text-center">{{ post.title }}</h2>
    <p>{{post.content}}</p>

    <small class="text-center">{{ post.owner }} - {{ post.date }} </small>
    <a class="btn btn-success" href="{% url 'index'  %}">Back To Post List</a>
  </div>

  {% endif %}
</div>

<div class="container">
  <h2>Comments</h2>
  {% if user.is_authenticated %}
  <form method="post" action="{%url 'addComment' id=post.id%}">
    {% csrf_token %}
    <input name="newComment" type="text" placeholder="Add a comment..." />
    <input type="submit" value="add" class="btn btn-info" />
  </form>
  {% endif %}
  <ul class="list-group">
    {% for comment in comments %}

    <li class="list-group-item">
      {{comment.message}} <br />
      <small>Posted by : <strong>{{comment.author}}</strong> </small>
    </li>

    {% endfor %}
  </ul>
</div>
{% endblock %}
